.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

hr {
  border: solid 1px;
}
.Item {
  border: solid 1px;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  text-align: center;
}

.ItemBox {
  display: flex;
  margin: 20px 0;
  padding: 10px 0;
}
